joblib>=1.4
matplotlib>=3.9
mordred>=1.2.0
numpy>=1.26,<2
openpyxl>=3.1
pandas>=2.2
PySide6>=6.7
PySide6-Addons>=6.7
rdkit>=2024.3
scikit-learn>=1.5

# Optional dependencies
# xgboost>=2.1
# shap>=0.44
